* {
  padding: 0;
  margin: 0;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

textarea {
  resize: none;
  margin: 5px;
  text-align: center;
  width: 300px;
  height: 100px;
  border-radius: 1em;
  font-size: 15px;
  padding: 10px;
}
textarea:focus {
  background-color: black;
  color: white;
  transition: all 0.7s;
  border: 3px solid white;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.form-container {
  width: 65%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid black;
  background-color: #22577a;
}

.results {
  width: 35%;
  height: 100%;
  background-color: #38a3a5;
  overflow: auto;
}

.card-form {
  width: 50%;
  height: auto;
  background-color: #57cc99;
  border: 4px solid black;
  border-radius: 20px;
}

.card-form > form > div {
  margin: 25px;
  text-align: center;
}

.card-form > form > div > input[type="text"] {
  margin: 5px;
  text-align: center;
  width: 300px;
  height: 30px;
  border-radius: 1em;
  font-size: 15px;
  border: 3px solid black;
}

.card-form > form > div > input[type="text"]:focus {
  background-color: black;
  color: white;
  transition: all 0.7s;
  border: 3px solid white;
}

.card-form > form > div > input[type="submit"] {
  margin: 5px;
  text-align: center;
  width: 200px;
  height: 30px;
  border-radius: 1em;
}

.card-form > form > div > input[type="submit"]:hover {
  opacity: 0.9;
  transition: all 0.7s;
  border: 4px double black;
}

.result-container {
  margin: 10px;
  padding: 5px;
  background-color: white;
}

.result-container > li {
  list-style: none;
  margin: 10px 5px 10px 5px;
}

.result-container > p {
  margin: 10px 5px 10px 5px;
}

.result-container > div {
  display: inline;
  
}

.result-container > div > label {
  display: inline;
  margin: 5px;
}

.result-container > div > button {
  display: inline;
  margin-left: 20px;
  padding: 5px;
}
